<div class="container mt-3">
  <div class="header">
      <h1>WELCOME TO WATCH LIST</h1>
  </div>
  <div>
      <h2 class="subtitle mb-3">My Lists</h2>
      <div class="add-list">
        <%= link_to 'ðŸ“½ï¸ ADD NEW LIST', new_list_path %>
      </div>
    <ul class="list-cards">
      <% @lists.each do |list| %>
        <li style="background-image: url('<%= cl_image_tag @list.photo.key, height: 150, crop: :fill %>')">
          <%= link_to list.name, list_path(list) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
